div p, div li {
	font-family: Arial, sans-serif;
}

.container {
	border-bottom: 2px solid #EEE;
	padding-bottom: 12px;
}

#name {
	color: black;
	line-height: 1.2;
	margin-top: 20px;
}

#name h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 38px;
	text-transform: uppercase;
}

#main-info {
	margin-top: 10px;
	text-align: right;
}

#main-info span {
	color: black;
	font-weight: bold;
}

#main-info a {
	text-decoration: none;
	color: black;
}

#main-info a:hover {
	color: #666666;
}

div h2 {
	font-size: 17px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	letter-spacing: 2px;
}

#skills, #education, #experience {
	margin-top: 20px;
}

#experience {
	margin-bottom: 20px;
}

#experience h2, #education h2, #skills h2 {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 6px solid #2EB8E6;
	text-align: center;
}

#education p {
	line-height: 1.5;
	font-size: 15px;
}

#main-info p {
	line-height: 1.5;
	font-size: 14px;
}

.job-info {
	line-height: 1.5;
	font-weight: 700;
	font-size: 15px;
	padding-top: 12px;
}

.bullet-points ul {
	list-style-type: square;
	margin-left: 20px;
	line-height: 1.5;
	font-size: 15px;
}

.right {
	text-align: right;
}

#experience .bullet-points {
	border-bottom: 2px solid #EEE;
	padding-bottom: 12px;
}
